// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "compass/css3/box-sizing";
@import "compass/utilities/lists/inline-block-list";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

// Import bluecloth
@import "partials/bluecloth";
@import "partials/jui";

$red: #D20;
$yellow: #F29905;
$green: #4F8A32;
$link_normal: #5F88CE;
$border_line: #CCDCEF;
$mono_fonts: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;

body.bp a{color: $link_normal;text-decoration:none;}
body.bp a:hover{text-decoration:underline;}
body.bp a:visited{color: $link_normal;}
body.bp{font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;}
body.bp ul{list-style-type: none;padding-left:0;}

#header_band{
	background-color: #195695;
	#header_content{
		margin: 0px auto;
		padding: 7px 0px;
		width: 950px;
		@include clearfix;
	}
}

#header{
	margin-bottom:2em;
	#notice{
		background-color: #FFF8CC;
		border: 1px solid #FFE222;
		padding:8px;
		margin:10px 0;
	}
	#notify{
		background-color:#EBF2FC;
		border:1px solid #CDDCF9;
		padding:8px;
	}
}

ul#nav{
	font-size:large;
	float:left;
	@include inline-block-list(8px);
	li a{
		color:white;
	}
}
ul#user_nav{
	float:right;
	@include inline-block-list;
	margin-top:3px;
	li a{
		color:white;
		padding:0 1.5em;
	}
}

#new_question, #new_answer{
	padding:1em;
	border: 1px solid #E4E4E4;
	background-color: #F9F9F9;
	@include border-radius;
	@include box-sizing(border-box);
}

body.bp .section_header{
	border-bottom: 1px solid $border_line;
	h2{
		color: #383529;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 0px;
	}
}

#questions{
	.question{
		@include clearfix;
		.stats{
			$stats-columns: floor($blueprint-grid-columns / 12);
	    @include column($stats-columns);
			text-align:center;
			padding-top:4px;
			.amt, .ans{
				line-height:18px;
			}
			.amt{
				color:#AAA;
				.count{
					font-size:24px;
				}
			}
			.unanswered{
				color: $red;
			}
			.answered{
				color: $yellow;
			}
			.accepted{
				color: $green;
			}
		}
		.summary{
			$summary-columns: ceil(7 * $blueprint-grid-columns / 12);
	    @include column($summary-columns, true);
			h3{
				margin:0;
				font-size:14px;
				line-height: 18px;
				a{
					color: #2854BB;
				}
				a:hover{
					color: #71A7D8;
					@include transition-duration(0.5s);
					@include transition-timing-function(ease-in);
					text-decoration: none;
				}
			}
			.answer{
				h3{
					color:#666;
				}
				.excerpt{
					color: #666;
					font-size:13px;
					line-height: 16px;
				}
			}
		}
	}
}
.question{
	h2{
		p{
			margin:0;
			font-size:18px;
			line-height: 22px;
		}
	}
	.article{
		font-size:14px;
	}
}
#questions .question, #answers .answer{
	padding: 10px 0px;
	border-bottom:1px solid $border_line;
}
.status, .links{
	color:#aaa;
	padding:4px 0;
}
#answers{
	margin-top:50px;
	.answer{
		.inner{
			border-left:3px solid white;
			padding-left:8px;
			.article{
				font-size:14px;
			}
		}
		.correct{
			border-left:3px solid $green;
		}
	}
	> h2{
		margin:.75em 0;
	}
}
.field{
	padding-bottom:8px;
}
#new_comment .field{
	padding:2px;
}
textarea{
	height:9em;
	width:100%;
}
textarea, input[type="text"], input[type="password"]{
	border:1px solid #ccc;
	@include box-sizing(border-box);
	font-size:14px;
	font-family: $mono_fonts;
}
input[type="text"], input[type="password"]{
	padding:5px;
}
#question_tag_list{
	width:100%;
}
#new_comment{
	display:none;
}
.comments{
	font-size:12px;
	color: $alt-text-color;
}
.comment:first-child{
	margin-top:8px;
}
.comment{
	background:url(/images/comment.gif) no-repeat 0 4px;
	padding-left:20px;
}

.pagination {
	@include clearfix;
  background: white;
	margin:20px 0;
	a, span, em{
		padding: .2em .5em;
    display: inline-block;
    margin-right: 1px;
	}
	span.disabled{
		color: #999;
    border: 1px solid #DDD;
	}
	em{
		font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1;
	}
	a{
		text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5;
	}
	a:hover, a:focus{
		color: #003;
    border-color: #003;
	}
	.page_info{
		background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center;
		b{
			color: #003;
      background: #6aa6ed;
      padding: .1em .25em;
		}
	}
}